@import url(./fonts.css);

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background: #18181829;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 22px;

}

.header__card {
  border: 2px solid #E5E5E5;
  margin-bottom: 36px;
}

.header__link {
  display: flex;
  column-gap: 20px;
}

.link {

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #000000;

}

.header__img {
  margin: 0 auto;

}

.section__card-main {
  position: relative;


}

.section__main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../image/IMAGE\ \(1\).png) no-repeat center / cover;
  width: 100%;
  height: 698px;

}

.section__main-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 27px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  width: 807px;
  padding-bottom: 31px;

}

.section__main-btn {
  border: 1px solid #FFFFFF;
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 6px 41px 7px 38px;

}

.btn {
  background: #050505;
  border-radius: 1px 1px 0px 0px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 31px 17px 30px;
  position: absolute;
  left: 20px;
  bottom: 3px;

}

.section__card-link {
  align-items: center;
  justify-content: center;
  padding: 68px 0;
  display: flex;
  column-gap: 77px;

}

.section__card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
}

main {
  background: #0505056e;
}

.section__card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 115px;
}

.section__menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 48px;
  padding-bottom: 29px;
}

.section__menu-title {
  display: flex;
  flex-direction: column;
}

.section__menu-name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 33px;
  text-align: right;
  color: #000000;

}

.section__menu-text {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: right;
  padding-top: 4px;
  color: #000000;
}

.section__menu-mony {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 15px;
  text-align: right;
  padding-top: 19px;
  color: #000000;

}

.section__menu-txt {
  width: 420px;
  padding-top: 12px;
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #525252;
}

.section__menu-txt:hover {
  color: #000000;
  transition: 0.5s;
}

.section__menu-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: right;
  color: #000000;
  position: relative;

}

.section__menu-box {
  padding-top: 66px;
  text-align: right;
}

.section__menu-btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #000;
}

.name__menu {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  color: #BC1414;

}

.box {
  padding-top: 24px;

  text-align: left;
}

.wor {
  width: 100%;
}

.text {
  text-align: left;
}

.book {
  padding-top: 24px;

  text-align: right;
}

.section__menu-content:nth-child(2) {
  display: flex;

}

.menu__img-card {
  padding-top: 57px;
  max-width: 230px;
}

.section__menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 21px;
  padding-bottom: 21px;
}

.section__box-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #3A3A3A;
}

.section__box-txt {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  text-align: center;


}

.section__box-div {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
  flex-direction: row-reverse;
}

.box-txt {
  font-family: 'Cardo';
  font-weight: 700;
  color: #000;

}

.section__box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.section__box-card {
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.section__box-btn {
  width: 9px;
  height: 9px;
  background: #000;
}

.section__footer-title {
  font-family: 'Cardo';
  width: 1190px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #020202;
  padding-bottom: 37px;

}

.section__footer-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #000000;
  padding-bottom: 49px;

}

.section__footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  padding-bottom: 96px;
}

.section__footer-btn {
  width: 7px;
  height: 7px;
  background: #000;
}

.section__footer-btr {
  width: 3px;
  height: 3px;
  background: #000;
}

.section__wood-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__wood-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  margin-bottom: 72px;
  margin-top: 80px;

}

.section__wood-title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  padding-top: 35px;
  padding-bottom: 12px;

}

.section__card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__wood-text {
  width: 272px;
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #000000;
  padding-bottom: 25px;


}

.section__wood-btn {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #000000;
  position: relative;
  margin-bottom: 49px;
}

.section__wood-btn::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -1px;
  right: 1px;
}

.section__wood-card:nth-child(1) {
  background: #FFFFFF;
}

.section__wood-card:nth-child(3) {
  background: #FFFFFF;
}

.section__card-wood {
  background: #ffffffa8;
  border: 1px solid #525252;
}

.section__card-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2px;
  width: 100%;
  padding-bottom: 83px;
}

.section__about-title {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-bottom: 31px;
  color: #454545;
}

.section__about-footer {
  background: #0000004a;
}

.section__about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 76px;
  padding-top: 56px;
  column-gap: 150px;
}

.section__about-visa {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.section__about-name {
  font-family: 'Roboto';
  font-weight: 700;
  padding-bottom: 45px;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.work {
  border: 3px solid #525252;
}

.box__image {
  border: 3px solid #525252;
  height: 500px;
}

.section__about-logo {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.section__about-link {

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #000000;

}

.section__about-link:hover {
  color: #BC1414;
  transition: 0.5s;

}

.section__about-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__visa-title {
  font-family: 'Roboto';
  padding-bottom: 17px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #000000;
}

.section__input-about {
  padding: 10px 50px;
  margin-bottom: 31px;
  border-radius: 10px 5px;
  text-align: start;
}

.section__visa-img {
  display: flex;
  flex-direction: column;
}

.section__about-image {
  display: flex;

}

.section__visa-img {
  padding-bottom: 19px;
}

.section__footer-food {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.section__food-txt {
  font-family: 'Roboto';
  padding-right: 100px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000000;
}

.section__food-txt:hover {
  color: #BC1414;
  transition: 0.5s;
}

.section__food-card {
  padding-right: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.section__food-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000000;
}

.section__food-text:hover {
  color: #BC1414;
  transition: 0.5s;
}

.section__food-visa {
  display: flex;
  column-gap: 12px;
}

.section__food-btn {
  width: 12px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #000000;
  height: 23px;
}




@media(max-width: 1440px) {
  .section__card-imge {
    width: 30%;
    display: flex;
    flex-direction: row;

  }

  .section__card-image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media(max-width: 1440px) {
  .work {
    width: 723px;

  }
}

@media(max-width: 1420px) {
  .section__card-about img {
    width: 842px;
    ;
  }
}

@media(max-width: 1315px) {
  .work {
    width: 705px;
  }
}

@media(max-width:1293px) {
  .section__footer-title {
    width: 800px;
  }
}

@media(max-width: 1214px) {
  .section__wood-content {
    flex-wrap: wrap;
  }

  .section__card-link {
    column-gap: 50px;
  }

  .work {
    width: 596px;

  }
}


@media(max-width:1150px) {
  .box__image {
    border: none;
  }
}

@media(max-width:1140px) {
  .section__box-image {
    display: flex;
    flex-wrap: wrap;
  }

  .box__image {
    border: 3px solid #525252;
  }
}

@media(max-width:1107px) {
  .section__card-link {
    column-gap: 15px;
  }
}

@media(max-width:1098px) {
  .work {
    width: 492px;

  }

  .section__box-div {
    display: none;
  }

  .section__about-card {
    flex-wrap: wrap;
    display: flex;
    padding-top: 33px;
  }

  .section__visa-title {
    padding-top: 20px;
  }

  .section__card-imge {
    border: 2px solid #525252;
  }

  .section__wood-content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width:1043px) {
  .section__box-image {
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width: 1040px) {
  .section__card-about img {
    width: 842px;
  }
}

@media(max-width: 1030px) {

  .section__food-txt {
    padding-right: 45px;
  }

  .section__food-card {
    padding-right: 34px;
  }

}

@media(max-width:995px) {
  .work {
    max-width: 423px;
    width: 100%;

  }

  .section__menu-name {
    font-size: 20px;
    padding-top: 4px;
  }

  .section__menu-txt {
    width: 379px;
  }

  .book {
    padding-top: 11px;

  }

  .section__menu-box {
    padding-top: 21px
  }

  .box {
    padding-top: 12px;
  }


}

@media(max-width: 983px) {
  .section__card-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 16px 0;
  }

  .section__card-img {
    column-gap: 17px;
  }
}

@media(max-width:953px) {
  .section__about-card {
    padding-bottom: 33px;
  }

  .section__footer-food {
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .section__menu-content {
    flex-direction: column;
  }

  .section__menu-title {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .section__menu-txt {
    text-align: start;
  }

}
@media(max-width: 860px){
  .section__main-img{
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
}


@media (max-width: 850px) {
  .section__footer-title {
    text-align: center;
    width: 400px;
  }
}

@media(max-width: 845px) {
  .section__card-about img {
    max-width: 751px;
  }
}

@media(max-width: 812px) {
  .section__main-text {
    line-height: 35px;
    max-width: 618px;
    font-size: 30px;
  }

  .section__card-imge {
    border: none;

  }

  .section__card-image {
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 755px) {
  .section__card-about img {
    max-width: 675px;
  }

  .section__wood-content {
    gap: 10px;
  }
}

@media (max-width: 685px) {
  .section__footer-card {
    padding-bottom: 60px;
    column-gap: 5px;
  }

  .section__box-card {
    padding-bottom: 37px;
  }

  .section__footer-title {
    padding-bottom: 30px;
  }

  .box__image {
    height: 440px;
    border: none;

  }

  .section__card-about img {
    max-width: 600px;
  }

  .work {
    max-width: 405px;
  }
}

@media (max-width: 628px) {
  .section__card-about img {
    max-width: 576px;
  }

  .section__main-text {
    max-width: 456px;
    font-size: 22px;
  }
}

@media (max-width: 584px) {
  .section__card-about img {
    max-width: 500px;
  }
}

@media (max-width: 582px) {
  .btn {
    font-size: 9px;
  }
}

@media (max-width: 529px) {
  .section__box-txt {
    font-size: 15px;
  }

}

@media (max-width: 514px) {
  .section__footer-food {
    padding-bottom: 31px;
  }

}

@media (max-width: 500px) {
  .section__card-about img {
    max-width: 440px;
  }

  .box__image {
    padding-top: 10px;
    max-height: 440px;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
}

@media (max-width: 464px) {
  .section__main-text {
    font-size: 15px;
  }
}

@media (max-width: 457px) {
  .section__card-wood {
    border: none;
  }

  .section__main-text {
    font-size: 13px;
    max-width: 250px;
    text-align: justify;
    line-height: 20px;
  }

}

@media (max-width: 442px) {
  .section__card-about img {
    max-width: 354px;
  }
}

@media(max-width:420px) {
  .section__food-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    padding-right: 1px;



  }
}

@media(max-width:400px) {
  .section__card-about {
    padding-bottom: 47px;

  }

  .section__main-img {
    max-width: 679px;
    width: 100%;
  }

  .section__about-title {
    padding-bottom: 16px;
  }
  .section__card-image{
    padding-bottom: 22px;
  }

  .section__wood-card {
    margin-bottom: 16px;
  }

  .section__wood-btn {
    margin-bottom: 15px;
  }

  .section__footer-title {
    font-size: 13px;
    max-width: 305px;
  }

  .section__about-name {
    padding-top: 20px;
    padding-bottom: 31px;
  }

}

@media(max-width:385px) {
  .section__menu-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__menu-txt {
    width: 300px;
    text-align: center;
    font-size: 14px;
  }

  .section__menu-mony {
    padding-top: 8px;
  }
}

@media(max-width:360px) {
  .section__card-about img {
    max-width: 273px;
  }

}